@media only all and (min-width: 480px) and (max-width: 768px)   
{

	.h1 {
		font-size: 50px;
		margin-top: 0em;
		
	}

	.h2 {

		font-size: 18px;
	
	}

	.favicon img {
		margin-top: 0;
		width: 19%;
	}

	.footer {
		font-size: 14px;
		line-height: 0;

	}

}